@media only screen and (max-device-width: 667px) {
	html {
		font-size: 26px;
		-webkit-overflow-scrolling: touch;
	}

	body {
		overflow-y: hidden;
	}

	div[class*='container'] {
		grid-template-columns: 1fr 10fr 1fr;
	}

	.navigation,
	.links {
		width: 100%;
	}

	.links a {
		font-size: 2.5rem;
	}

	.compass {
		width: 20vw;
		top: 10vh;
		left: 40vw;
	}

	.menu-circle {
		display: flex;
	}
}
