@media only screen and (max-device-width: 667px) {
	.about-container .compass {
		transform: translateY(-35px);
		opacity: 1;
		left: 40vw;
	}

	.about-container .about-paragraph {
		overflow: auto;
		font-size: 2.1rem;
		display: block;
		align-self: initial;
	}

	.frameworks-modal {
		width: 90vw;
		height: 80vh;
		left: 5vw;
		grid-template-areas: 'list list';
	}

	.frameworks-modal-left-pane {
		grid-area: list;
		height: auto;
	}

	.frameworks-modal-right-pane {
		display: none;
	}
}
