@media only screen and (max-device-width: 667px) {
	.about-container .compass {
		transform: translateY(-100px);
		opacity: 1;
		left: 40vw;
	}

	.about-container .about-paragraph {
		overflow: auto;
		font-size: 2.1rem;
		display: block;
		align-self: initial;
	}

	.frameworks-modal {
		width: 90vw;
		height: 80vh;
		left: 5vw;
		grid-template-areas: 'list list';

		h2 {
			font-size: 3rem;
		}
	}

	.frameworks-modal-left-pane {
		grid-area: list;
		height: auto;
		@include padding-horizontal(80px);
	}

	.frameworks-modal-right-pane {
		display: none;
	}

	.framework {
		font-size: 2.4rem;
	}

	.modal-close {
		top: 50px;
		right: 40px;
		width: 50px;
		height: 50px;

		img {
			width: 100%;
		}
	}
}
