@media only screen and (max-device-width: 667px) {
	.work-container .compass,
	.contact-container .compass {
		transform: translateY(-5vh);
		width: 20vw;
		left: 40vw;
	}

	.contact-form {
		width: 90%;
		height: 90%;
		margin-top: 10%;

		input {
			font-size: 2.2rem;
			padding-left: 0;
			margin-bottom: 8px;
		}

		button {
			margin-top: 10px;
			font-size: 3rem;
			margin-right: 0;
		}
	}

	.them-links {
		display: none;
	}
}
