@media only screen and (max-device-width: 667px) {
	.work-container .compass,
	.contact-container .compass {
		transform: translateY(-5vh);
		width: 20vw;
		left: 40vw;
	}

	.contact-form {
		width: 90%;
		height: 90%;
		margin-top: 10%;

		input {
			font-size: 2.25rem;
			padding-left: 0;
		}

		textarea {
			height: 100px;

			&:active,
			&:focus,
			&:not(:placeholder-shown) {
				// 👆🏻 Does this count as dirty?
				height: 196px;
				padding-top: 0;
			}
		}

		button {
			font-size: 3rem;
		}
	}

	.them-links {
		display: none;
	}
}
