@media only screen and (max-device-width: 667px) {
	.work-box {
		grid-template-areas: 'center center';
		width: 80vw;
		left: 10vw;
	}

	.work-box-project {
		display: none;
	}

	.work-box-list {
		grid-area: center;
		padding-left: 30px;
		text-align: left;
	}
}
