@media only screen and (max-device-width: 667px) {
	.work-box {
		grid-template-areas: 'center center';
		width: 80vw;
		left: 10vw;
	}

	.work-box-project {
		display: none;
	}

	.work-box-list {
		grid-area: center;
		padding-left: 70px;
		text-align: left;

		> h2 {
			font-size: 3.2rem;
		}

		a {
			font-size: 2.5rem;
		}
	}
}
