.home-welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: primary;
}

.home-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-area: primary;
	transition: $transition;
	h1,
	h2 {
		font-family: $base-font-family;
		padding-bottom: 10px;
		margin: 0;
	}
	h1 {
		font-size: 3.2rem;
		font-weight: 100;
	}
	h2 {
		font-size: 2.2rem;
		color: $gray;
		font-weight: 300;
	}
}

/* =============== ANIMATION CLASSES =============== */

.compass-animated {
	animation: 0.6s $ease-out-quad home-compass-animation forwards;
}

.home-heading-animated {
	animation: 0.85s $ease-out-quad home-heading-animation forwards;
}

.links-animated {
	animation: 0.6s $ease-out-quad home-links-animation forwards;
}

.compass-push-home-about {
	animation: 1s $ease-out-quad compass-push-home-about forwards;
}

.compass-push-about-home {
	animation: 1s $ease-out-quad compass-push-about-home forwards 0.2s;
}

.compass-push-home-contact {
	animation: 0.8s $ease-out-quad compass-push-home-contact forwards;
}

.compass-push-contact-home {
	animation: 0.8s $ease-out-quad compass-push-contact-home forwards 0.4s;
}

.compass-push-about-contact {
	animation: 0.8s $ease-out-quad compass-push-about-contact forwards;
}

.scale-fade-in {
	display: flex;
	animation: 1s $ease-out-quad scale-fade-in forwards;
}
