/* ======================================== */
/*           HOME PAGE ANIMATIONS           */
/* ======================================== */

/* ======== Widen Project Brief ======== */
@keyframes work-box-project-widen {
	0% {
		width: 100%;
	}

	100% {
		height: 100vh;
		width: 100vw;
	}
}

/* ======== Full Screen Box ======== */
@keyframes work-box-fullscreen {
	0% {
		width: 130vh;
		height: 80vh;
		left: calc((100vw - 130vh) / 2);
		top: 5vh;
	}

	100% {
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
	}
}

@keyframes cross-disolve {
	0% {
		opacity: 0.05;
	}

	49% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0.1;
	}
}

@keyframes fade-out-project-image {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in-project-image {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.1;
	}
}
